extends ../layouts/default
block content
	main
		div#aaa
			div.morph1
				svg#test(height="50",width="50",viewBox="0 0 50 50",preserveAspectRatio="xMidYMid meet", data-index="0")
			div.morph1
				svg#west(height="50",width="50",viewBox="0 0 50 50",preserveAspectRatio="xMidYMid meet", data-index="0")

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
