section.banner#home
  div.svg-morphA
    svg#morphA(height="50",width="50",viewBox="0 0 50 50",preserveAspectRatio="xMidYMid meet", data-index="0")
  div.svg-morphB
    svg#morphB(height="50",width="50",viewBox="0 0 50 50",preserveAspectRatio="xMidYMid meet", data-index="0")
  div#figure-square
    svg#mp(height="184",width="344",viewBox="0 0 344 184",preserveAspectRatio="xMidYMid meet")
  div#figure-circle.mouseover
    <svg width="116" height="116" viewBox="0 0 116 116" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle id="svg-circle" cx="58" cy="58" r="23.5" stroke="#FFE16D" stroke-opacity="0.86" stroke-width="9"/>
    </svg>
  div#big-circle
    img(src="img/svg/big_circle.svg")
  div#figure-star
    <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M31.9003 16.7035L38.744 13.256L35.2965 20.0997L33.9918 22.6897L36.7457 23.5985L44.0227 26L36.7457 28.4015L33.9918 29.3103L35.2965 31.9003L38.744 38.744L31.9003 35.2965L29.3103 33.9918L28.4015 36.7457L26 44.0227L23.5985 36.7457L22.6897 33.9918L20.0997 35.2965L13.256 38.744L16.7035 31.9003L18.0082 29.3103L15.2543 28.4015L7.97732 26L15.2543 23.5985L18.0082 22.6897L16.7035 20.0997L13.256 13.256L20.0997 16.7035L22.6897 18.0082L23.5985 15.2543L26 7.97732L28.4015 15.2543L29.3103 18.0082L31.9003 16.7035Z" stroke="#E3E9F3" stroke-width="5"/>
    </svg>
  div#figure-wave
    svg#mpWave(height="150",width="250",viewBox="0 0 250 150",preserveAspectRatio="xMidYMid meet")

  div.container-full
    div.banner-content
      h1.banner-title
        | Создание сайтов
        br
        | и сопровождение
      div.banner-text
        | разработка  сайтов различной сложности
        br
        | от landing page до интернет-магазинов
      div.banner-action
        img.figure(src="img/svg/figure_1.svg")
        a.btn-link(href="javascript:void(0)")
          | написать мне
