form.form
  div.form-field
    input.form-input(name="name" placeholder="Имя" autocomplete="off" required)
  div.form-field
    input.form-input(name="email" placeholder="Email" autocomplete="off" required)
  div.form-field
    textarea.form-input.form-area(name="message" placeholder="Сообщение" autocomplete="off" rows="3" required)
  div.form-action
    button.btn-default.blue(type="submit") Отправить
