section.gallery#portfolio
  h2.section-title Портфолио
  div#grid-filters
    <div data-filter="*" class="cbp-filter-item cbp-filter-item-active grid-filters-item">Все</div>
    <div data-filter=".landing" class="cbp-filter-item grid-filters-item">Landing Page</div>
    <div data-filter=".shop" class="cbp-filter-item grid-filters-item">Интернет-магазин</div>
    <div data-filter=".corporat" class="cbp-filter-item grid-filters-item">Корпоративные сайты</div>
    <div data-filter=".other" class="cbp-filter-item grid-filters-item">Другое</div>
  div.grid
    div.grid-item.cbp-item.corporat
      a.cbp-caption(href="https://mebeligma.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_1.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Корпоративный сайт
              h3.grid-title STEM
            div.grid-caption-block1
              div.grid-text
                p Сайт коммуникационного агентства
                p
                  | Задача:
                  <br>
                  | Сделать сайт “под ключ” на CMS Wordpress.
                  <br>
                  | Особенности:
                  <br>
                  | Анимация прелоадера, анимация главной страницы, цветовая градация портфолио
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.landing
      a.cbp-caption(href="http://honey-yard.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_2.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Landing Page
              h3.grid-title Медовый дворик
            div.grid-caption-block1
              div.grid-text
                p Продажа натурального
                  <br> меда
                p
                  | Landing Page с формой заказа
                  | и ненавязчивой анимацией
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.other
      a.cbp-caption(href="https://conf.market/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_3.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Другое
              h3.grid-title Яндекс.Маркет
            div.grid-caption-block1
              div.grid-text
                p Сайт для участников
                  <br> конференции
                  <br> Яндекс.Маркет
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.shop
      a.cbp-caption(href="https://mebeligma.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_4.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Интернет-магазин
              h3.grid-title Салон мебели Игма
            div.grid-caption-block1
              div.grid-text
                p Интернет-магазин по
                  <br> продаже дестких и подростковых кроватей
                p
                  | Задача:
                  <br>
                  | Сделать сайт “под ключ” на CMS OpenCart.
                  <br>
                  | Особенности:
                  <br>
                  | Кастомный Ajax фильтр по цветам в каталоге.
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.shop
      a.cbp-caption(href="https://geo-dvor.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_8.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Интернет-магазин
              h3.grid-title Геодвор
            div.grid-caption-block1
              div.grid-text
                p Интернет-магазин
                  <br>производителя геоматериалов
                p Задача:
                  <br> Сайт "под ключ" на CMS Opencart
                p Функционал:
                  <br> Полноценный интернет-магазин с каталогом товаров,
                  <br> разделенный на категории и ценовым Ajax фильтром.
                  <br> Реализован "умный поиск" по товарам, категориям и блогу.
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.landing
      a.cbp-caption(href="https://malika-photo.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_6.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Landing Page
              h3.grid-title Студийный фотограф
            div.grid-caption-block1
              div.grid-text
                p Сайт-портфолио
                  <br> фотографа с формой
                  <br>  обратной связи
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.other
      a.cbp-caption(href="http://telecom-5.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_7.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Интернет-каталог
              h3.grid-title Телеком
            div.grid-caption-block1
              div.grid-text
                p Продажа
                  <br>и аренда недживимости
                  <br>Каталог на CMS Bitrix
                  <br>c фильтром, блогом,
                  <br> формой обратной связи
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.corporat
      a.cbp-caption(href="https://sovavto.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_12.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Корпоративный сайт
              h3.grid-title Совавто
            div.grid-caption-block1
              div.grid-text
                p Логистические услуги
                p Задача
                  <br>Сайт "под ключ" на CMS Wordpress
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.corporat
      a.cbp-caption(href="http://shatten-lighting.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_11.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Корпоративный сайт с каталогом
              h3.grid-title Shatten
            div.grid-caption-block1
              div.grid-text
                p Осветительные приборы
                p Задача
                  <br>Установка верстки на Opencart
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.shop
      a.cbp-caption(href="http://multigaz.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_5.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Интернет-магазин
              h3.grid-title Мультигаз
            div.grid-caption-block1
              div.grid-text
                p Оптовая продажа контрольно-измерительных приборов
                p Задача:
                  <br> Интернет-магазин "под ключ" на CMS Opencart
                  <br>Функционал:
                  <br>Большое меню с подразделением на категории, корзина, информационные страницы, новости.
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.other
      a.cbp-caption(href="http://u-vend.ru/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_10.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Интернет-каталог
              h3.grid-title U-vend
            div.grid-caption-block1
              div.grid-text
                p Задача
                  <br>Верстка
                  <br>интернет-каталога
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
    div.grid-item.cbp-item.landing
      a.cbp-caption(href="https://sverka.pro/", target="_blank")
        div.cbp-caption-defaultWrap
          img(src="img/gl_9.jpg")
        div.cbp-caption-activeWrap
          div.grid-caption
            div.grid-caption-block2
              div.grid-subtitle Landing Page + Блог
              h3.grid-title Сверка.Pro
            div.grid-caption-block1
              div.grid-text
                p Бухгалтерские услуги
                p Задача
                  <br>Landing Page с анкетой запроса стоимости
            div.grid-arrow
              img(src="img/svg/arrow_fill.svg")
