section.price#price
  div.container
    h2.section-title Услуги и цены
    div.section-desc
      | Приведенные здесь цифры являются приблизительными.
      <br>
      | Стоимость и сроки реализации каждого проекта расчитываются индивидуально.
    div.price-body
      div.smart-row
        div.smart-col-30
          div.price-item
            div.price-item-title Landing Page
            div.price-item-number 15 000
            div.price-item-text-ts Что вы получаете
            ul.price-item-list
              li Адаптивная верстка
              li CSS и/или Js анимации
              li Preloader, плавная прокрутка к элементам, оптимизация изображении
              li Форма обратной связи
              li Встроенная карта Яндекс или Гугл с адресом компании
              li CMS на выбор (Wordpress, Modx)
              li SEO оптимизация
            a.btn-default.yellow(href="/") Подробнее
        div.smart-col-30
          div.price-item
            div.price-item-title Корпоративный сайт
            div.price-item-number 50 000
            div.price-item-text-ts Что вы получаете
            ul.price-item-list
              li Адаптивная верстка
              li CSS и/или Js анимации
              li Preloader, плавная загрузка страниц, оптимизация изображении
              li Форма обратной связи
              li Встроенная карта Яндекс или Гугл с адресом компании
              li CMS на выбор (Wordpress, Modx, Bitrix. Umi)
              li Информационные страницы (О нас, Контакты, Блог, Услуги, Портфоло и пр.)
              li SEO оптимизация
            a.btn-default.pink(href="/") Подробнее
        div.smart-col-30
          div.price-item
            div.price-item-title Интернет-магазин
            div.price-item-number 80 000
            div.price-item-text-ts Что вы получаете
            ul.price-item-list
              li Адаптивная верстка
              li CSS и/или Js анимации
              li Preloader, плавная загрузка страниц, оптимизация изображении
              li Форма обратной связи
              li Встроенная карта Яндекс или Гугл с адресом компании
              li Установка на CMS (Opencart)
              li Каталог товаров, фильтр товаров, карточка товара, корзина, оформление заказа
              li “Умный поиск” по каталогу товаров
              li Информационные страницы (О нас, Контакты, Оплата, Доставка и пр.)
              li Личный кабинет покупателя
              li Подключение онлайн-оплаты
              li SEO оптимизация
            a.btn-default.blue(href="/") Подробнее
